/* This style file is supposed to be applied to printable documentation
 which is going to be exported to PDF, DOCX, RTF or other similar formats.
 If this file is loaded after the main Style.css file, styles from Style.css
 will be overriden by styles in this file. 

 Thus, you can make some elements appear differently in online and printable 
 versions of your documentation without changing anything in the topics. */

/* Apply this class to all elements which should NOT be visible in printable
 version of your documentation, like navigation buttons, Show More/Hide switches 
 for "Show More" blocks and other active elements irrelevant for printable docs. */
.nonPrintable
{
  display:none;
}

/* Reset styles which are not CURRENTLY supported in printable output to provide proper 
 preview in the WYSIWYG topic editor. */
/* Background images are not supported. */
*
{  
  background-image:none !important;
}

/* Borders and paddings are supported for tables only.
 Use margins instead of paddings for other elements. */
div, p, a, img, h1, h2, h3, h4, h5, h6
{
  border: 0 none !important;
  padding: 0 !important;
}

/* Custom list images are not supported */
ul
{
  list-style-image: none !important;
}

/* Override FAQ styles for proper export */

.faqQuestionText, .faqAnswer 
{
  background: transparent;
  color: black;
}

/* Override table styles for proper export*/

.CHTable td, .CHTable th, .tableSimple td, .tableSimple th, .tableVerZebra td, .tableVerZebra th
{
  border: solid 1px #ADADAD;
}

/* Add "Keep with text" for headings */ 
h1, h2, h3, h4, h5, h6
{
  page-break-after:avoid;
}